body {
	min-width: 1200px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: 400;
	text-transform: uppercase;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix::after {
	content: "";
  display: table;
  clear: both;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 #c8c8c8;
}

.wrapper {
	padding-left: 72px;
	padding-right: 72px;
}

.header-nav {
	position: relative;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header-nav li {
	float: left;
	width: 20%;
	padding-top: 17px;
	padding-bottom: 18px;
	font-weight: 700;
	box-sizing: border-box;
}

.header-nav li:nth-child(2) {
	margin-right: 20%;
	padding-left: 30px;
}

.header-nav li:nth-child(3) {
	text-align: right;
	padding-right: 33px;	
}

.header-nav li:last-child {
	float: right;
	text-align: right;	
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.header-nav a {
	text-decoration: none;
	color: #000000;
}

.header-nav a:hover {
	color: #81b3d2;
}

.header-nav a:active {
	color: #cccccc;
}

.header-nav .active-link {
	color: #766357;
}

.main-logo {
	position: relative;
	min-height: 508px;
	background-color: #6f94ba;
	background-image: url("../img/background-main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -55px;
	margin-bottom: 60px;
}

.main-logo::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	min-height: 57px;
	background-image: url("../img/background-fringing.png");
	background-repeat: no-repeat;
}

.main-title {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	padding-left: 382px;
	padding-right: 382px;
	margin: 0 0 29px 0;
}

.reasons {
	text-align: center;
	margin: 0 0 55px 0;
}

.feautures {
	text-align: center;
}

.title {
	margin-top: 47px;
	margin-bottom: 23px;
	padding-left: 125px;
	padding-right: 125px;
	font-size: 21px;
	color: #ffffff;
}

.town {
	background: #81b3d2;
}

.feauture-basic-town {
	float: left;
	width: 400px;
}

.basic-number {
	color: #ffffff;
}

.basic-descript {
	margin: 21px 0 0 0;
	padding-left: 60px;
	padding-right: 60px;
	color: #ffffff;
}

.picture-town {
	float: right;
	width: 800px;
}

.picture-town img,
.picture-mount img {
	display: block;
}

.special {
	margin-bottom: 68px;
}

.feauture-home .feauture-descript {
	padding-left: 73px;
	padding-right: 73px;
}

.feauture-home {
	position: relative;
	float: left;
	padding-top: 139px;
	width: 400px;
}

.feauture-home::before {
	position: absolute;
	top: 59px;
	left: 50%;
	margin-left: -38px;
	content: "";
	width: 75px;
	height: 72px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: -201px -376px;
}

.title-black {
	color: #000000;
	margin-bottom: 24px;
	font-size: 21px;
}

.feauture-food {
	position: relative;
	float: left;
	padding-top: 139px;
	width: 400px;
}

.feauture-food .feauture-descript {
	padding: 0 55px;
}

.feauture-food::before {
	position: absolute;
	top: 59px;
	left: 50%;
	margin-left: -37px;
	content: "";
	width: 74px;
	height: 70px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: -200px -201px;
}

.feauture-souvenir {
	position: relative;
	float: right;
	padding-top: 139px;
	width: 400px;
}

.feauture-souvenir::before {
	position: absolute;
	top: 56px;
	left: 50%;
	margin-left: -32px;
	content: "";
	width: 64px;
	height: 76px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: -501px -1px;
}

.feauture-souvenir .feauture-descript {
	padding: 0 60px;
}

.mount {
	background: #81b3d2;
}

.picture-mount {
	float: left;
	width: 800px;
}

.feauture-basic-mount {
	float: right;
	width: 400px;
}

.feauture-basic-mount .title  {
	padding: 0;
}

.feauture-basic-mount .basic-descript {
	padding-left: 45px;
	padding-right: 45px;
}

.row {
  background: #eeeeee;
}

.row .title-black {
	margin: 47px 0 24px 0;
	padding-left: 138px; 
	padding-right: 138px;
}

.row .feauture-descript {
	padding-left: 60px;
	padding-right: 61px;
	margin: 22px 0 58px 0;
}

.feauture-square{
	float: left;
	width: 400px;
}

.feauture-road {
	float: left;
	width: 400px;
}

.feauture-tourist {
	float: right;
	width: 400px;
}

.title-order {
	margin: 56px 0 31px 0;
}

.order {
	text-align: center;
	position: relative;
}

.order-descript {
	line-height: 23px;
	margin: 0 auto 49px;
	max-width: 566px;
}

.order-btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-size: 21px;
	background: #766357;
	color: #ffffff;
	padding: 32px 137px;
}

.order-form-choise {
	display: none;
}

.order-form-choise-show {
	display: block;
	text-align: left;
	width: 568px;
	margin-left: -284px;
	position: absolute;
	top: 235px;
	left: 50%;
	box-sizing: border-box;
	padding: 56px 55px;
	background-color: #ffffff;
	box-shadow: 0 3px 10px 0 #a1a2a2;
	animation-name: bounce;
	animation-duration: 0.6s;
}

.order-form-choise fieldset {
	margin-left: 0;
	margin-right: 0;
	border: none;
	padding: 0;
	font-size: 0;
}

.order-form-choise label {
	font-size: 14px;
	font-weight: 700;
	color: #000000;
}

.order-form-choise input {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	font-size: 14px; 
	font-weight: 700;
	border: none;
	padding: 8px 11px;
	color: #000000;
}

::-webkit-input-placeholder {
	opacity: 1;
}

::-moz-placeholder {
	opacity: 1;
}

:-moz-placeholder {
	opacity: 1;
}
:-ms-input-placeholder {
	opacity: 1;
}

.order-form-choise input[type="text"]:hover {
	background-color: #ebebeb;
}

.order-form-choise input[type="text"]:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.arrive {
	margin-bottom: 30px;
	position: relative;
}

.depart {
	margin-bottom: 31px;
	position: relative;
}

.form-label {
	display: inline-block;
	vertical-align: middle;
}

.arrive .form-label,
.depart .form-label {
	width: 112px;
}


.arrive input[id="date-arrive"],
.depart input[id="date-depart"] {
	width: 346px;
	padding: 8px 35px 8px 13px;
	box-sizing: border-box;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.btn-calendar {
	position: absolute;
	top: 6px;
	right: 5px;
	width: 25px;
	height: 25px;
	border: none;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	opacity: 0.3;
	background-color: transparent;
	background-position: 0 0;
	cursor: pointer;
	font-size: 0;
}

.btn-calendar:hover {
	opacity: 1;
}

.btn-calendar:active {
	border: none;
	outline: none;
	opacity: 1;
	background-position: -1px -51px;
}

.btn-calendar:focus {
	outline: none;
}

.order-form-search input {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.adult {
	position: relative;
	float: left;
	width: 55%;
}

.children {
	position: relative;
	float: right;
	width: 39%;
	margin-bottom: 55px; 
}

.adult input[id="adult"],
.children input[id="children"] {
	display: block;
	width: 100%;
	margin: 0;
	padding: 8px 30px;
	background-color: #f2f2f2;
	text-align: center;
	box-sizing: border-box;
}

.adult .form-label {
	margin-right: 40px;
}

.children .form-label {
	margin-right: 26px;
}

.form-field {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 114px;
}

.btn-minus {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 37px;
	background-color: transparent;
	font-size: 0;
	border: none;
	cursor: pointer; 
	z-index: 9999;
}

.btn-minus::before {
	display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-plus {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 37px;
	background-color: transparent;
	font-size: 0;
	border: none;
	cursor: pointer;
	z-index: 9999;
}

.btn-plus::before,
.btn-plus::after {
	display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-plus::after {
	transform: rotate(90deg);
}

.btn-minus:hover::before,
.btn-plus:hover::before,
.btn-plus:hover::after {
	background-color: #000000;
}

.btn-minus:active::before,
.btn-plus:active::before,
.btn-plus:active::after {
	background-color: #81b3d2;
}

.btn-minus:active,
.btn-plus:active,
.btn-plus:active {
	border: none;
	outline: none;
}

.btn-minus:focus,
.btn-plus:focus,
.btn-plus:focus {
	border: none;
	outline: none;
}

.btn {
	line-height: 26px;
	width: 100%;
	border: none;
	padding: 15px 0;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px; 
	text-transform: uppercase;
	cursor: pointer;
}

.btn:hover {
	background-color: #669ec0;
}

.btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.main-footer {
	position: relative;
	text-align: center;
	padding-right: 72px;
	padding-left: 72px;
	padding-top: 36px;
	padding-bottom: 36px; 
	box-sizing: border-box;
	background-color: rgba(255,255,255, 0.9);
}

.footer-contacts {
	float: left;
	width: 240px;
	padding-top: 13px;
  padding-left: 13px;
	margin-right: 87px;
	box-sizing: border-box;
}

.footer-contacts a {
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	font-weight: 700;
}

.footer-social {
	float: left;
	width: 400px;	
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 0;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: rgba(84, 150, 189, 0.6);
}

.social-btn-tw {
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: 14px -184px;
}

.social-btn-fb {
	margin: 0 2px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: 16px -138px;
}

.social-btn-yt {
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: 12px -235px;
}

.footer-copyright{
	float: right;
	width: 240px;
	padding-top: 5px;
  padding-right: 9px;
}

.copyright {
	margin-right: 3px;
}

.academy-logo {
	display: inline-block;
	vertical-align: middle;
	width: 113px;
	height: 39px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: -201px -101px;
	font-size: 0;
	text-decoration: none;
}

.academy-logo:hover {
	background-position: -201px 0;
}

.academy-logo:active {
	background-position: -201px -101px;
	opacity: 0.5;
}

.item-description .title {
	text-align: left;
}

.title-order {
	font-family: PT Sans;
	font-size: 30px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
}

.form-search {
	padding-top: 27px;
	padding-bottom: 30px;
	background-color: #6f94ba;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 18%;
	color: #ffffff;
}

.search-name {
	font-weight: 700;
	font-size: 16px;
}

.search-type {
	margin: 0;
	padding: 0;
	border: none;
}

.search-list {
	padding-top: 25px;
}

.search-list li {
	margin-bottom: 25px;
}

.search-list li:last-child {
	margin-bottom: 0;
}

.search-type-structure {
	float: left;
	width: 240px;
	margin-right: 15px;
}

.search-type-housing {
	float: left;
	width: 288px;
}

.search-type-cost {
	float: right;
	width: 317px;
}

.search-type-cost .search-name {
	margin-bottom: 9px;
}

.search-nav {
	padding-top: 33px;
	padding-bottom: 31px;
}

.search-sum {
	float: left;
	width: 135px;
	font-size: 21px;
	font-weight: 700;
}

.search-sort {
	float: left;
	width: 363px;
	font-size: 12px;
	padding-left: 29px;
}

.sort {
	display: inline-block;
	vertical-align: middle;
	margin-right: 37px;
}

.search-sort a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	line-height: 1.2;
	margin-right: 30px;
}

.search-sort .not-active:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-sort .not-active:active {
	color: #000000;
	border: none;
}

.search-sort a:last-of-type {
	margin-right: 0;
}

.active {
	color: #81b3d2;
}

.not-active {
	color: #cccccc;
	border-bottom: 1px dotted #81b3d2;
}

.search-sort-btn {
	float: right;
	width: 241px;
	text-align: right;
}

.search-sort-btn a {
	font-size: 0;
}

.sort-btn-up {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #cccccc;
}

.sort-btn-up:hover {
	border-bottom-color: #000000; 
}

.sort-btn-up:active {
	border-bottom-color: #81b3d2; 
}

.sort-btn-down {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #81b3d2;
	margin-left: 9px;
}

.sort-btn-down:hover {
	border-top-color: #000000; 
}

.sort-btn-down:active {
	border-top-color: #81b3d2; 
}

.search-item {
	padding-top: 30px;
	padding-bottom: 29px;
	border-top: 1px solid #cccccc;
}

.search-item:last-of-type {
	border-bottom: 1px solid #cccccc;
}

.item-picture {
	float: left;
	width: 135px;
}

.item-picture img {
	display: block;
}

.item-description {
	float: left;
	width: 363px;
	padding-left: 31px;
}

.item-title {
	font-size: 21px;
	margin: 0;
	margin-bottom: 7px;
}

.item-title a {
	text-decoration: none;
	color: #000000;
}

.item-title a:hover {
	color: #81b3d2;
}

.item-title a:active {
	color: #cccccc;
}

.search-rate {
	float: right;
	width: 241px;
}

.item-type {
	float: left;
	width: 116px;
}

.item-cost{
	float: left;
	width: 180px;
	margin-bottom: 15px;
}

.item-btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	padding: 4px 16px 2px;
	margin-right: 4px;
}

.item-btn-more {
	background-color: #81b3d2;
}

.item-btn-more:hover {
	background-color: #669ec0;
}

.item-btn-more:active {
  background-color: #5496bd;
	color: #94b9d2;
}

.item-btn-order {
	background-color: #766357;
}

.item-btn-order:hover {
	background-color: #604e43;
}

.item-btn-order:active {
  background-color: #503e33;
	color: #857871;
}

.search-rate {
	text-align: right;
}

.rate-sum {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	min-height: 18px;
	margin-bottom: 40px;
}

.rate-sum img {
	margin-left: 3px;
}

.rate-description span {
	display: inline-block;
	vertical-align: top;
	padding: 6px 12px 6px 17px;
	line-height: 1.2;
	background-color: #cccccc;
}

/*кастомизация чекбоксов*/

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 39px;
}

input[type="checkbox"] + label::before {
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	width: 27px;
	height: 26px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	background-position: 0 -350px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	width: 27px;
	height: 26px;
	background-position: 0 -100px;
	border: none;
}


input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:checked:disabled + label::before {
  cursor: default;
  filter: brightness(40%);
}

input[type="checkbox"]:disabled + label {
	color: #6a6a6a;
	cursor: default;
}

/*сложный фильтр*/

.price-controls {
  position: relative;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 82px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.btn-transparent:active,
.btn-transparent:focus {
	outline: none;
}

@keyframes bounce {
	0% { transform: translateY(-100px); }
	70% { transform: translateY(100px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}

.map {
	background: #f2f1ef url(../img/map.jpg) no-repeat center;
	height: 473px;
}

.map iframe {
	display: block;
	border: none;
	width: 100%;
	height: 593px;
}